/* * {
    background: chartreuse;
} */
nav {
    margin: 5px solid red;
    border: solid 2px green ;
    height: 100px;
    padding-left: 1050px;
}

img {
    display: inline-block;
}
.imagen_central{
    background: wheat;
    border: solid 5px violet;
    padding: 100px  ;
    margin: 30px;
    
}
